{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">

  </style>
{% endblock %}
{% block content %}
  <div class="jumbotron">
    <h1>CompensaFácil</h1>
    <p class="lead">Aplicativo para recuperação de áreas de manancial através de agrofloresta, ligando empreendedores com obrigações ambientais com proprietários de imóveis disponíveis para plantio.</p>
    <a class="btn btn-lg btn-primary" href="/empreendedores" role="button">Empreendedores »</a><br/><br/>
    <a class="btn btn-lg btn-primary" href="/proprietarios" role="button">Proprietários »</a>
  </div>
{% endblock %}
